* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Mulish";
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    margin: 25px 0 25px 0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: blue;
    font-weight: bold;
}
h2 {
    font-size: 3rem;
    color: burlywood;
    font-weight: bold;
}
section {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-form > form {
    margin: 10px 0 10px 0;
    align-items: flex-end;
    width: 100%;
}
.div-form form label > input {
    height: 25px;
}
.form--label--peso {
    margin: 5px 35px 5px 35px;
}
.form--label--altura {
    margin: 5px 35px 5px 35px;
}
span {
    font-size: 1.2rem;
    text-align: end;
}
label {
    margin: 20px 5px 20px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
input {
    border: 1px solid black;
    font-family: "Mulish";
    padding: 10px;
    border-radius: 5px;
    width: 85px;
    height: 35px;}

div {
    background-color: #F7F7F7;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
    border: 2px solid black;
    border-radius: 25px;
}
p {
    
    font-size: 1.6rem;
    padding: 10px;
    background-color: white;
    margin-top: 15px;
    border: 1px solid black;
    width: 100%;
    height: auto;
    border-radius: 6px;
}
button {
    cursor: pointer;
    font-family: "Mulish";
    font-weight: bold;
    border-color: #ACD9B2;
    width: 95px;
    height: 35px;
    border-radius: 5px;
    background-color: #ACD9B2;
}
